<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colrolib Templates">
    <meta name="author" content="Colrolib">
    <meta name="keywords" content="Colrolib Templates">

    <!-- Title Page-->
    <title>О проекте</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">


    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
</head>

<body>
            <div class="card card-4 card-navbar">
                <nav>
						<ul class="tab-list">
											<li class="tab-list__item">
												<a class="tab-list__link" href="/">Поиск</a>
											</li>
											<li class="tab-list__item active">
												<a class="tab-list__link" href="/about">О проекте</a>
											</li>
											<li class="tab-list__item">
												<a class="tab-list__link" href="/team">Команда</a>
											</li>
						</ul>
				</nav>
			</div>
	<h2 class="title-main search">Лексический анализ библейских текстов в типологической перспективе</h2>
	<div class="about">
		<p class="text text-about">Проект нацелен на соединение двух исследовательских направлений: лексической типологии и библеистики. Это взаимодействие призвано обогатить обе научные традиции.</p>
		<p class="text text-about">С одной стороны, библеистика, хотя и является одной из старейших гуманитарных дисциплин (а может быть, именно в силу этого?) остается – в том что касается исследования языков Библии – не очень затронута теми изменениями в области описания лексики и семантики, которые произошли в лингвистике последних десятилетий. С другой стороны, лексическая типология, активно развивающаяся в последнее время и накопившая уже значительный объем данных об устройстве различных семантических полей, пока еще редко обращается к древним, в частности, библейским языкам.</p>
		<p class="text text-about">Между тем, данные древних языков представляют типологический интерес по крайней мере в двух аспектах: во-первых, они позволяют проверить универсальность принципов лексикализации поля, сформулированных на материале современных языков. Во-вторых, древние тексты дают богатый материал для изучения метафорических переносов и, соответственно, для сравнения моделей семантических сдвигов, релевантных для разных исторических эпох.</p>
		<p class="text text-about">В рамках настоящего проекта современные лексическо-типологические методы впервые планируется применить к данным древнееврейского языка. Непосредственным материалом для анализа станут несколько семантических полей, в той или иной степени описанных в широкой типологической перспективе (глаголы падения, поиска и находки, признаки ‘чистый’ и ‘грязный’ и др.). Для каждого из этих полей будет проводиться семантический и сочетаемостный анализ всех употреблений соответствующих лексем в текстах Ветхого Завета. Результаты этого анализа, включающие информацию о морфологических и синтаксических особенностях контекста и его семантическом типе, будут заноситься в Базу данных, которая тем самым призвана стать ценным лексикографическим ресурсом для исследователей, интересующихся лингвистическими особенностями библейских текстов.</p>
	</div>
	<!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="vendor/bootstrap-wizard/bootstrap.min.js"></script>
    <script src="vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
