<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colrolib Templates">
    <meta name="author" content="Colrolib">
    <meta name="keywords" content="Colrolib Templates">

    <!-- Title Page-->
    <title>Лескическая типология</title>

    <!-- Icons font CSS-->
    <link href="{{ url_for('static', filename='css/vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='css/vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- css/vendor CSS-->
    <link href="{{ url_for('static', filename='css/vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">
    <link href="../static/css/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">


    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="all">
</head>

<body>
            <div class="card card-4 card-navbar">
                <nav>
						<ul class="tab-list">
											<li class="tab-list__item active">
												<a class="tab-list__link" href="/">Поиск</a>
											</li>
											<li class="tab-list__item">
												<a class="tab-list__link" href="/about">О проекте</a>
											</li>
											<li class="tab-list__item">
												<a class="tab-list__link" href="/team">Команда</a>
											</li>
						</ul>
				</nav>
			</div>
	<h1 class="title-main">Древнееврейская лексика в типологической перспективе</h1>
    <div class="page-wrapper bg-img-1 p-t-200 p-b-120">
        <div class="wrapper wrapper--w900">
            <div class="card card-4">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <form action="/process_data">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Поле:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="field">
													<option></option>
                                                    {% for field in fields %}
														<option value="{{ field }}">{{ field }}</option>
													{% endfor %}
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Глагол:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="verb">
													<option></option>
													{% for verb in verbs %}
														<option value="{{ verb }}">{{ verb }}</option>
													{% endfor %}
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Фрейм:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="frame">
													<option></option>
													{% for frame in frames %}
														<option value="{{ frame }}">{{ frame }}</option>
													{% endfor %}
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Порода:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="stem">
													<option></option>
													{% for stem in stems %}
														<option value="{{ stem }}">{{ stem }}</option>
													{% endfor %}
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
								<div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Значение:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="metaphor">
													<option></option>
													{% for metaphor in metaphors %}
														<option value="{{ metaphor }}">{{ metaphor }}</option>
													{% endfor %}
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group">
                                            <label class="label">Глоссы:</label>
                                            <div class="rs-select2 js-select-simple select--no-search">
                                                <select name="glosses">
                                                    <option></option>
													{% for gloss in glosses %}
														<option value="{{ gloss }}">{{ gloss }}</option>
													{% endfor %}
                                                </select>
                                                <div class="select-dropdown"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn-submit m-t-0" type="submit">search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{{ url_for('static', filename='css/vendor/jquery/jquery.min.js') }}"></script>
    <!-- css/vendor JS-->
    <script src="{{ url_for('static', filename='css/vendor/select2/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/vendor/jquery-validate/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/vendor/bootstrap-wizard/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/vendor/datepicker/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='css/vendor/datepicker/daterangepicker.js') }}"></script>

    <!-- Main JS-->
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->
